@charset "utf-8";
/* CSS Document */

body {
	background: rgba(18,17,17,1.00);
}
/*Nav bar */
#logo {
	margin-right: 5px;
	margin-left: 100px;
}

.dropdown-menuPo{
	margin-right: 90px;
}

.profil-logo{
	position: relative;
	margin-left: 10px;
}

.ImdbLogo {
	width: 80px;
	height: 60px;
}

.noMargin {
	margin: 0px;
}

.movieMatch-logo{
	width: 80px;
	height: 80px;
}

.movieMatch-button {
	background: transparent;
	border: transparent;
}

/* Start side bars */

.moviePoster {
	width: 260px;
	height: 344px;
	margin-right: 2px;
	margin-left: 2px;
	border: solid transparent;
	transition: border-width 0.2s linear;
}

.moviePoster:hover { border-width: 10px; }

.genreHeadlines{
	margin-left: 110px;
	margin-bottom: 20px;
	color: white;
}

.scroll-Lbutton{
	margin-left: 110px;
}

.scroll-Rbutton{
	margin-right: 110px;
}

.container-space{
	margin-bottom: 30px;
}

.inline{
	display: inline-flex;
}

/*modals classes */

.modal-Poster{
	width: 280px;
	height: 364px;
	position: center;
	margin-left: 80px;
	margin-right: 80px;
}

.modal-button {
	background: rgba(18,17,17,1.00);
	border: rgba(18,17,17,1.00);
	padding: 0px;
}


.modal-body{
	background: rgba(18,17,17,1.00);
	color: white;
    overflow-y: visible;
}

.whiteText {
	color: white;
}

.centered {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.choiceBtn {
	height: 70px;
	font-size: 2em;
    margin: 0px 0px 0px 0px;
}

.line {
	background-color: white;
	border-style: solid;
}

.movPoster {
	max-height: inherit;
	max-width: inherit;

}

#poster {
	text-align: center;
}

.movieMatch-Pos {
	margin-right: 800px;
}
