@charset "utf-8";
/* CSS Document */

body {
	background: rgba(18,17,17,1.00);
}
/*Nav bar */
#logo {
	margin-right: 5px;
	margin-left: 60px;
}

.dropdown-menuPo{
	margin-right: 90px;
}

.profil-logo{
	position: relative;
	margin-left: 10px;
}


.movieMatch-logo{
	width: 60px;
	height: 60px;
}

.movieMatch-button {
	background: transparent;
	border: transparent;
}

/* Start side bars */

.moviePoster {
	width: 280px;
	height: 364px;
	margin-right: 2px;
	margin-left: 2px;
	border: solid transparent;
	transition: border-width 0.2s linear;
}

.moviePoster:hover { border-width: 10px; }

.genreHeadlines{
	margin-left: 60px;
	margin-bottom: 20px;
	color: white;
}

.scroll-Lbutton{
	margin-left: 65px;
}

.scroll-Rbutton{
	margin-right: 65px;
}

.container-space{
	margin-bottom: 30px;
}

.inline{
	display: inline-flex;
}

/*modals classes */

.modal-Poster{
	width: 280px;
	height: 364px;
	position: center;
	margin-left: 80px;
	margin-right: 80px;
}

.modal-button {
	background: rgba(18,17,17,1.00);
	border: rgba(18,17,17,1.00);
	padding: 0px;
}

.modal {
    overflow: visible;
}

.modal-body{
	background: rgba(18,17,17,1.00);
	color: white;
    overflow-y: visible;

}

.modal-exit{
	color: white;

}

.exit-Size {
	width: 40px;
	height: 40px;
	font-size: 40px;
}

.whiteText {
	color: white;
}

.centered {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.choiceBtn {
	height: 70px;
	font-size: 2em;
    margin: 0px 0px 0px 0px;
}

.line {
	background-color: white;
	border-style: solid;
}

.movPoster {
	max-height: inherit;
	max-width: inherit;

}

#poster {
	text-align: center;
}

.modal-Windows {
	width: 1500px;
	margin: 1.75rem auto;
}


@media screen and (max-width: 1680px) {
	#logo {
		margin-right: 10px;
		margin-left: 35px;
	}

	.moviePoster {
		width: 240px;
		height: 324px;
		margin-right: 2px;
		margin-left: 2px;
		transition: width, height 1s;
	}

	.moviePoster:hover{
		height: 344px;
	}

	.genreHeadlines{
		margin-left: 35px;
		margin-bottom: 30px;
		color: white;
	}

	.scroll-Lbutton{
		margin-left: 50px;
	}

	.scroll-Rbutton{
		margin-right: 50px;
	}

	.dropdown-menuPo{
		margin-right: 90px;
	}

	.profil-logo{
		position: relative;
		margin-left: 10px;
	}

	.container-space{
		margin-bottom: 40px;
	}
    
    .inline{
	display: inline-flex;
}
}
