@charset "utf-8";
/* CSS Document */

body {
	background: rgba(18,17,17,1.00);
}

#logo {
	margin-right: 5px;
	margin-left: 60px;
}

.moviePoster {
	width: 280px;
	height: 364px;
	margin-right: 2px;
	margin-left: 2px;
	transition: width, height 1s;

}

.moviePoster:hover{
	height: 384px;
}

.genreHeadlines{
	margin-left: 60px;
	margin-bottom: 20px;
	color: white;
}

.scroll-Lbutton{
	margin-left: 65px;
}

.scroll-Rbutton{
	margin-right: 65px;
}

.dropdown-menuPo{
	margin-right: 90px;
}

.profil-logo{
	position: relative;
	margin-left: 10px;
}

.container-space{
	margin-bottom: 30px;
}

.inline{
	display: inline-flex;
}



@media screen and (max-width: 1680px) {
	#logo {
		margin-right: 10px;
		margin-left: 35px;
	}

	.moviePoster {
		width: 240px;
		height: 324px;
		margin-right: 2px;
		margin-left: 2px;
		transition: width, height 1s;
	}

	.moviePoster:hover{
		height: 344px;
	}

	.genreHeadlines{
		margin-left: 35px;
		margin-bottom: 30px;
		color: white;
	}

	.scroll-Lbutton{
		margin-left: 50px;
	}

	.scroll-Rbutton{
		margin-right: 50px;
	}

	.dropdown-menuPo{
		margin-right: 90px;
	}

	.profil-logo{
		position: relative;
		margin-left: 10px;
	}

	.container-space{
		margin-bottom: 40px;
	}
	.inline{
		display: inline-flex;
	}
}
